/* reset */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/* estilos de header */

header {
    background-color: rgb(63, 11, 55);    
}

.header__img--logo {
    height: 100px ;
    width: 100px ;
}

.header__img--facebook {
    
    position: absolute;
    top: 40px;
    right: 10px;
    height: 30px ;
    width: 30px ;
}

.header__img--instagram {    
    position: absolute;
    top: 40px;
    right: 45px;
    height: 30px ;
    width: 30px ;
}

h1 {
    color: aliceblue;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;         
}


/* estilos de nav */

nav {
    margin: 30px 20px;
    padding: 20px;
    width: 25%;
    border: 3px solid rgb(63, 11, 55);  
       
}

nav ul li {
    color: rgb(0, 3, 5);
    list-style: none;
    font-weight: bold;
    line-height: 2;
}


nav ul li a {
    text-decoration: none;
    color: black;
}


li:hover {
    
    filter: drop-shadow(8px 8px 10px rgb(63, 11, 55));
}   


/* estilos main */


main {
    
}

h2,  h3 {
    color: rgb(63, 11, 55);  
    font-size: 50px;
    line-height: 2;
}


.quienes__parrafo {
    line-height: 2;
    margin-top: 40px;
    font-size: 22px;
}


.quienes__img {
       
    
}

.servicios__img {
    max-width: 50%;
    max-height: 50%;  
}

.turno {
    height: 300px;
}

.contactos {
    height: 300px;
}


/* estilos de footer */

footer {
    list-style: none;
    background-color: rgb(63, 11, 55);
    color: aliceblue;
    padding: 15px;
    line-height: 1,5;  
    animation-name: section;
    animation-duration: 20s;
    animation-iteration-count: infinite ;
    }

    @keyframes section {
        0% {
            background-color:  rgb(63, 11, 55);;
        }

        25% {
            background-color:  rgb(122, 22, 107);;
        }

        75% {
            background-color:  rgb(84, 14, 74);;
        }

        100% {
            background-color:  rgb(63, 11, 55);;
        }

}







