/* reset */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
/*estilos generales*/


/* estilo del div padre - estructura de la pagina*/

.padre {
display: grid;
grid-template-columns: 20% 80% ;
/* grid-template-area*/
grid-template-areas: 
"header header"
"nav main"
"footer footer";
}


/* estilos de header */

header {
    grid-area:header;
    background-color: rgb(63, 11, 55);
    animation-name: gradiente;
    animation-duration: 20s;
    animation-iteration-count: infinite ;
    }

    @keyframes gradiente {
        0% {
            background-color:  rgb(63, 11, 55);
        }

        25% {
            background-color:  rgb(122, 22, 107);
        }

        75% {
            background-color:  #753469;
        }

        100% {
            background-color:  rgb(63, 11, 55);
        }
 
   

}

.header__img--logo {
    height: 100px ;
    width: 100px ;
}

.header__img--facebook {
    
    position: absolute;
    top: 40px;
    right: 10px;
    height: 30px ;
    width: 30px ;
}

.header__img--instagram {    
    position: absolute;
    top: 40px;
    right: 45px;
    height: 30px ;
    width: 30px ;
}

h1 {
    position: absolute;
    top: 30px;
    color: aliceblue;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;         
}


/* estilos de nav */

nav {
    grid-area:nav;
    margin: 2rem;
    padding: 1rem;
    border: 3px solid rgb(63, 11, 55);
    border-radius: 20px;
    text-align:center;       
}

nav ul li {
    color: rgb(0, 3, 5);
    list-style: none;
    font-weight: bold;
    line-height: 2;
}


nav ul li a {
    text-decoration: none;
    color: black;
}


li:hover {
    
    filter: drop-shadow(8px 8px 10px rgb(63, 11, 55));
}   


/* estilos main */


main {
    grid-area:main;
    
}

h2,  h3 {
    color: rgb(63, 11, 55);  
    font-size: 50px;
    line-height: 2;
}


.quienes__parrafo {
    line-height: 2;
    margin-top: 40px;
    font-size: 22px;
}


.servicios__img {
    max-width: 50%;
    max-height: 50%;  
}

.turno {
    height: 300px;
}

.contactos {
    height: 300px;
}


/* estilos de footer */

footer {
    grid-area:footer;
    list-style: none;
    background-color: rgb(63, 11, 55);
    color: aliceblue;
    padding: 15px;
    line-height: 1,5;  
    animation-name: section;
    animation-duration: 20s;
    animation-iteration-count: infinite ;
    }

    @keyframes section {
        0% {
            background-color:  rgb(63, 11, 55);
        }

        25% {
            background-color:  rgb(122, 22, 107);
        }

        75% {
            background-color:  rgb(84, 14, 74);
        }

        100% {
            background-color:  rgb(63, 11, 55);
        }

}

/*media queries*/

@media screen and (max-width: 600px) {
   
/* estilos nuebos*/

.padre {
    display: flex;
    flex-direction: column;  
    }
    

.header__img--facebook {
    position: fixed;
    top: 10px;
    right: 10px;       
}

.header__img--instagram {    
   
  position: fixed;
    top: 50px;
    right: 10px;
}

main {
    text-align: center;
}

nav ul li {
    display: inline-block;
}
.quienes__img {
    width: 70%;
}
.main__donde-estamos {
    width: 60%;
}